/* The sidebar menu */
.sidebar {
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #c7c1ff;
    background-image: linear-gradient(to bottom,#c7c1ff,#978cff );
    overflow-x: visible; /* Disable horizontal scroll */ /* 0.5 second transition effect to slide in the sidebar */
    display: block;
    position: relative;
    width: 200px;
    height: 100%;
    /* vertical-align: top; */
    border: 1px solid;
  }
.sidebar.active {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.resizer {
  width: 5px;
  background-color: transparent;
  cursor: ew-resize; /* Horizontale Ziehen-Cursor */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}



  /* The sidebar links */
  .sidebar a {
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-family:  Arial;
    font-size: 25px;
    font-weight: bold;
    color: black;
    display: block;
    transition: all 0.05s ease-in;
    /* width: 200px; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    background-color: #c7c1ff; 
    background-image: linear-gradient(to right,#d9d5ff,#978cff );
    color: #f1f1f1;
    padding-left: 5%;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #8fa5ff;
    color: white;
    padding: 5px 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 25%;
    box-shadow: 2px 2px 1px 1px #635ba7;
    margin: 7px;
    left: 0;
  }

  .openbtn:hover {
    background-color: #3f7cff;
    box-shadow: 3px 3px 1px 1px #635ba7;
  }



.footer {
  bottom: auto;
  left: 0;
  align-self: center;
  opacity: 1;
  display: block;
}

.FooterButton {
  position: absolute;
  bottom: 0;
  font-family: Arial;
  font-weight: bold;
  color: white;
  width: calc( sidebar );
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 5%;
  padding: 5px 18px;
  background-color: #8fa5ff;
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px #635ba7;
}

.FooterButton:hover {
  background-color: #3f7cff;
  box-shadow: 3px 3px 1px 1px #635ba7;
}

.footer_clicked {
  bottom: 0;
  left: 0;
  align-self: center;
  width: 100%;
  opacity: 0;
  margin-left: 4px;
  height: 5rem;
  position: absolute;
  display: none;
}
.footer_clicked_input {
  width: 100%;
  margin-bottom: 1vh;
  height: 2vh;
  bottom: auto;
}
.footer_input {
  size: 100%;
  border-radius: 20px;
  border: solid 1px;
  bottom: auto;
}


.footer_clicked_buttons {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: auto;
}

.footer_clicked_button {
  width: 45%;
  margin: 0px 2px;
  bottom: auto;
  font-family: Arial;
  font-weight: bold;
  color: white;
  background-color: #8fa5ff;
  border: solid 2px white;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px #635ba7;
}
.footer_clicked_button:hover{
  background-color: #3f7cff;
  box-shadow: 3px 3px 1px 1px #635ba7;
}
