/* The sidebar menu */
.sidebar {
    width: auto; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #363636; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all 1s ease-in; /* 0.5 second transition effect to slide in the sidebar */
    display: table-cell;
    vertical-align: top;
  }
.sidebar.active {
  opacity: 1;
  transition: all 0.5s ease-in;
}
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family:  Arial;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: all 0.05s ease-in;
    max-width: 250px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px 10px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 25%;
    margin: 7px;
    left: 0;
  }

  .openbtn:hover {
    background-color: #555;
  }
 a:hover {
  background-color: #444;
}


.footer {
  bottom: auto;
  left: 0;
  align-items: center;
}

.FooterButton {
  position: absolute;
  bottom: 0;
  font-family: Arial;
  color: white;
  width: calc( sidebar );
  margin-bottom: 1%;
  margin-left: 5px;
  padding: 5px 35px;
  background-color: #363636;
  border: solid 2px white;
}

.FooterButton:hover {
  background-color: #111;
}