
header{
  background-color: grey;
  outline: 10px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: black;
  font-family: Arial;
  margin: 0;
}

.headerbtn {
  font-size:  20px;
  cursor: pointer;
  background-color: red;
  padding: 10px 15px;
  border: none;
}

.headerbtn:hover {
  background-color: salmon;
}

  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
  background-color: aqua;
  width: calc(screen - "sidebar.style.width");
}
.NewEntry {
  top: 200px;
}

.PriorityCategories ul {
  list-style: none;
  display: inline-flex;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
