header{
  background-color: #844484;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 8%;
}
.headerbuttons_right {
  display: flex;
  align-items: center;
  height: 100%;
}
.headerbuttons_right .headerbtn {
  /* font-size: 10% unset; */
  padding: 0px 1rem;

}

.headerbuttons_right .headerbtn:hover {
  height: 100%;
  width: 100%;
}

.headerbuttons_right .headerbtn i{
 font-size: 100%;

}

.headerbutton_left {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerbutton_left .headerbtn:hover{
  height: 100%;
  width: 100%;
}

.headerbtn {
  font-size:  2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.headerbtn:hover {
  background-color: #855585;
}



.ScreenWrapper{
  height: 100%;
  width: 100%;
}

html{
 height: 100%;

}
body{
 height: 100%;
 /* top: 64; */
 margin: 0;
}
.ContentWrapper{
  display: table;
  height: 92%;
  width: 100%;
  transition: 0.5s;
}

h1{
  color: black;
  font-family: sans-serif;
  margin-top: auto;
  /* transform: translate(-50%, -50%); */
  align-items: center;
}
h2{
  font-family: sans-serif;
}

h3{
  font-family: sans-serif;
  padding: 10px;
  margin-top: 5px;

}

p{
  font-family: sans-serif;
  padding-left: 15px;
}

  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  justify-content: center;
  width: inherit;
  display: table-cell;
  vertical-align: top;
  transition: 0.5s;
  align-items: center;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 15px;
}

.addElement{
  width: 80%;
  height: 5%;
  align-self: center;
}

.Entry {
  width: auto;
  display: flex;
  position: absolute;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: auto;

}


.NewEntry {
  font-family: Arial;
  margin: 0px 8px;
}



.PriorityCategories{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.PriorityHeader{
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;  

}
.PriorityArea{
width: 100%;
height: 100%;

}


.PriorityElement{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 2px #888;
}
.item:hover{
background-color: lightblue;
}


.PriorityCategories ul {
  list-style: none;
  display: inline;
  margin-top: 10%;
}

/* .item {
  display: flex;
  justify-content: space-between;

} */
.EditItem {
  border: 1px solid;
  border-radius: 10%;
  background-color: #ffff;
  font-size: 10px;
  padding: 0px 10px;
}
.EditItem:hover{
  background-color: rgb(66, 149, 177);
  border-radius: 10%;

}

/* .PriorityCategories .PriorityElement .item {

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 15px;
  font-family:  Arial;
  margin: 5px 8px;
  overflow: hidden;
} */

.PriorityCategories .PriorityElement .PriorityArea .item {

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 15px;
  font-family:  sans-serif;
  margin: 5px 8px;
  overflow: hidden;
}

.PriorityCategories .PriorityElement .PriorityArea .item:hover {
  box-shadow: 1px 1px 1px 1px lightgrey;
}




.PriorityCategories .PriorityElement .PriorityArea .item.drag-activ {
  border: 2px solid #000;
  background-color: darkmagenta;
}

.PriorityCategories .PriorityElement.hovererd {
  border: 1px dashed #888;
  background: #fbfbfb;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
