
header{
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
html{
 height: 100%;

}
body{
 height: 100%;
 top: 64;
 margin: 0;
}
.ContentWrapper{
  display: table;
  height: 100%;
  width: 100%;
}


h1{
  color: black;
  font-family: Arial;
  margin: 0;
}

.headerbtn {
  font-size:  20px;
  cursor: pointer;
  background-color: red;
  padding: 10px 15px;
  border: none;
}

.headerbtn:hover {
  background-color: salmon;
}


  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s; /* If you want a transition effect */
  background-color: aqua;
  width: inherit;
  display: table-cell;
  vertical-align: top;
}
.NewEntry {
  top: 200px;
}

.PriorityCategories ul {
  list-style: none;
  display: inline-flex;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
